= link_to 'Show tasks', '#', id: 'show-tasks'
= link_to 'Close tasks', '#', id: 'close-tasks'
hr/
.tasks
  = render @tasks 
=> link_to 'New', new_task_path, id: 'new', remote: true  
= link_to 'Close form', '#', id: 'close'
#form